.container {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --black: rgba(0, 0, 0, 0.4);

    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyLight-4: #545454;


    --greyDark: #9baacf;

    --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);

    --shadowDark: 0.3rem 0.3rem 0.6rem var(--greyLight-4), -0.2rem -0.2rem 0.5rem var(--black);
    --inner-shadowDark: inset 0.2rem 0.2rem 0.5rem var(--greyLight-4), inset -0.2rem -0.2rem 0.5rem var(--black);


    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--greyLight-1);
    user-select: none
}

.components {
    position: relative;
    width: 90vw;
    height: 90vh;
    border-radius: 1rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: #1f1f1f;
    height: 10%;
    border-radius: 1rem;
    padding: 4rem;
    box-shadow: var(--inner-shadow);

}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.checkbox .input {
    display: none;
}

.checkbox__1 {
    /*width: 6rem;*/
}

.checkbox .label {
    box-shadow: var(--shadow);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    width: 12.8rem;
    height: 12.8rem;
}

.checkbox .label:hover {
    color: var(--primary);
}

.checkbox .input:checked + .label {
    box-shadow: var(--inner-shadow);
}

.checkbox .input:checked + .label {
    color: var(--primary);
}

.darkTheme {
    transition-duration: 1s;
    background: #4a4a4a;
}

.lightTheme {
    background: var(--greyLight-1);
    transition-duration: 1s;
}

.darkThemeComponents {
    transition-duration: 1s;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-4), -0.2rem -0.2rem 1.8rem var(--black);
}

.darkThemeText {
    color: #fff;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-4), -0.2rem -0.2rem 1.8rem var(--black);

}
.lightThemeText {
    transition-duration: 1s;
}

.checkbox .input:checked + .darkThemeLabel {
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-4), -0.2rem -0.2rem 1.8rem var(--black);
}

.checkbox .input:checked + .lightThemeText {
    --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.checkbox .label .darkThemeInput{
    box-shadow: var(--shadowDark);
}

.checkbox .label .lightThemeInput{
    box-shadow: var(--shadow);
}
